<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DapperDal" providerName="System.Data.sqlclient" connectionString="Data Source=(local);Initial Catalog=DapperDalDb;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="UsedConnectionString" value="DapperDal"/>
    <add key="UseMiniProfilerForSql" value="true"/>
    <add key="SqlCommandTimeOut" value="15"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
